
.dropdown{
    display: flex;
    justify-content: center;
    min-width: 278px;
}

.btns{
    display: flex;
    justify-content: flex-end;
}

.arrows{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.increase-btn, .decrease-btn{
    line-height: 31px;
    margin: 7px;
}
.orders{
    display: flex;
    width:408px;
    margin: 0 auto;   
}
.flex-item {
    display: flex;
    width: 120px;
    justify-content: left;
    align-items: center;
    
  }

  .flex-item-last {
    display: flex;
    width: 120px;
    justify-content: center;
    align-items: center;
    
  }
  
  .flex-item.big {
    display: flex;
    width: 173px;
    justify-content: center;
    align-items: center;
  }
  