<h2 mat-dialog-title style="text-align: center; color: #3F51B5;">Table: {{data.id}}</h2>
<mat-dialog-content>
    <mat-form-field class="dropdown" appearance="fill">
        <mat-label>Παραγγελία</mat-label>
        <mat-select (selectionChange)="changeClient($event.value)" #matRef>
            <mat-option *ngFor="let option of dropDownOptions" [value]="option.item">{{option.item}} - {{option.price}}€</mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="selectedItems.length"> 
        <div class="orders" *ngFor="let order of selectedItems; let i = index">
            <div class="flex-item">
                <h3 class="item" #ref>{{order.item}}</h3> 
            </div>
            <div class="flex-item big">
                <button class="increase-btn" mat-raised-button color="primary" (click)="decreaseItemQuantity(order)"><span class="material-icons">arrow_circle_down</span></button>
                <span>X{{order.itemQuantity}}</span>
                <button class="decrease-btn" (click)="increaseItemQuantity(order)"mat-raised-button color="primary"><span class="material-icons">arrow_circle_up</span></button>
                <button mat-icon-button  (click)="delete(order.item, selectedItems)">
                    <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
            <div class="flex-item">
                <h3 class="price">{{order.price}}€</h3> 
            </div>
        </div>
    </div>
    
</mat-dialog-content>
<mat-dialog-actions class="btns">
    <button *ngIf="selectedItems.length" mat-button color="primary" (click)="payTable()"  >Εξοφληση {{total}}€</button>
    <button mat-raised-button color="primary" mat-dialog-close [disabled]="!changeOption" (click)="saveOrder()">Save</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="true">Close</button>


</mat-dialog-actions>
